{
    "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-runtime"
    ],
    "presets": [
        "@babel/preset-env"
    ],
    // "ignore": "test.js",
    "env": {
        "development": {
            "sourceMaps": "inline"
        }
    }
}
